<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="traitement">
      <h2 data-cy="traitementDetailsHeading">
        <span jhiTranslate="projetgatewayApp.microserviceproductionTraitement.detail.title">Traitement</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ traitement.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetgatewayApp.microserviceproductionTraitement.traitement">Traitement</span></dt>
        <dd>
          <span>{{ traitement.traitement }}</span>
        </dd>
        <dt><span jhiTranslate="projetgatewayApp.microserviceproductionTraitement.datetraitement">Datetraitement</span></dt>
        <dd>
          <span>{{ traitement.datetraitement | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/traitement', traitement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
