<div>
  <h2 id="page-heading" data-cy="BovinHeading">
    <span jhiTranslate="projetgatewayApp.microservicegestionBovin.home.title">Bovins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetgatewayApp.microservicegestionBovin.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bovin"
        [routerLink]="['/bovin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetgatewayApp.microservicegestionBovin.home.createLabel"> Create a new Bovin </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bovins?.length === 0">
    <span jhiTranslate="projetgatewayApp.microservicegestionBovin.home.notFound">No bovins found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bovins && bovins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numero">
            <span jhiTranslate="projetgatewayApp.microservicegestionBovin.numero">Numero</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <span jhiTranslate="projetgatewayApp.microservicegestionBovin.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datenaissance">
            <span jhiTranslate="projetgatewayApp.microservicegestionBovin.datenaissance">Datenaissance</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="race.id">
            <span jhiTranslate="projetgatewayApp.microservicegestionBovin.race">Race</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typeBovin.id">
            <span jhiTranslate="projetgatewayApp.microservicegestionBovin.typeBovin">Type Bovin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bovin of bovins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bovin', bovin.id, 'view']">{{ bovin.id }}</a>
          </td>
          <td>{{ bovin.numero }}</td>
          <td>{{ bovin.sexe }}</td>
          <td>{{ bovin.datenaissance | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="bovin.race">
              <a [routerLink]="['/race', bovin.race?.id, 'view']">{{ bovin.race?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="bovin.typeBovin">
              <a [routerLink]="['/type-bovin', bovin.typeBovin?.id, 'view']">{{ bovin.typeBovin?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bovin', bovin.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/bovin', bovin.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bovin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bovins && bovins.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
