<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-production-lait-heading"
        data-cy="ProductionLaitCreateUpdateHeading"
        jhiTranslate="projetgatewayApp.microserviceproductionProductionLait.home.createOrEditLabel"
      >
        Create or edit a Production Lait
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="projetgatewayApp.microserviceproductionProductionLait.quantite"
            for="field_quantite"
            >Quantite</label
          >
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
          <div *ngIf="editForm.get('quantite')!.invalid && (editForm.get('quantite')!.dirty || editForm.get('quantite')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantite')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantite')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="projetgatewayApp.microserviceproductionProductionLait.dateproduction"
            for="field_dateproduction"
            >Dateproduction</label
          >
          <div class="d-flex">
            <input
              id="field_dateproduction"
              data-cy="dateproduction"
              type="datetime-local"
              class="form-control"
              name="dateproduction"
              formControlName="dateproduction"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('dateproduction')!.invalid && (editForm.get('dateproduction')!.dirty || editForm.get('dateproduction')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateproduction')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dateproduction')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
